node_modules
.env

# Hardhat files
cache
artifacts
archive
deployments
graveyard

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

.DS_Store

/.vscode